Repository stardeltapower/svgfix.net: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: eslint
  entry: pnpm exec eslint . --ext .js,.ts,.astro,.vue
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: pnpm exec prettier --check .
  language: system
  pass_filenames: false

fix: Preserve xmlns attribute in output SVG and add boundary indicator
  .claude/agents/architecture-guardian.md
  .claude/agents/curve-maths-validator.md
  .claude/agents/documentation-monitor.md
  .claude/agents/frontend-developer.md
  .claude/agents/planner.md
  .claude/agents/release-manager.md
  .claude/agents/repo-hygiene-enforcer.md
  .claude/agents/test-coverage-enforcer.md
  .claude/settings.local.json
  .eslintrc.cjs
  .gitignore
  CLAUDE.md
  CONTRIBUTING.md
  LICENSE
  README.md
  docs/COMPETITIVE-ANALYSIS.md
  docs/ROADMAP.md
  lib/bounds.ts
  lib/crop.ts
  lib/index.ts
  lib/optimize.ts
  lib/parse-svg.ts
  lib/process.ts
  lib/transform.ts
  package.json
  src/components/SvgTool.vue
  src/components/ThemeToggle.astro
  tailwind.config.ts
Due: eslint, prettier

chore: Remove temp files and fix gitignore patterns
  .gitignore
  tmpclaude-153b-cwd
  tmpclaude-1896-cwd
  tmpclaude-1c9f-cwd
  tmpclaude-2b8f-cwd
  tmpclaude-315e-cwd
  tmpclaude-72c1-cwd
  tmpclaude-7911-cwd
  tmpclaude-7aa7-cwd
  tmpclaude-a87f-cwd
  tmpclaude-ae2d-cwd
  tmpclaude-ba09-cwd
  tmpclaude-dcd1-cwd
Due: none

chore: Update workflow to use main branch
  .github/workflows/deploy.yml
Due: prettier

fix: Make SVG boundary border more visible
  src/components/SvgTool.vue
Due: eslint, prettier

feat: Add SVGO preprocessing, transform-aware bounds, and wrapper group transform
  docs/functions/preprocess-svg.md
  lib/bounds.ts
  lib/index.ts
  lib/normalize.ts
  lib/parse-svg.ts
  lib/preprocess.ts
  lib/process.ts
  lib/tests/bounds.test.ts
  lib/tests/fixtures/group-transform.svg
  lib/tests/fixtures/mixed-content.svg
  lib/tests/fixtures/nested-groups.svg
  lib/tests/fixtures/path-with-transform.svg
  lib/tests/fixtures/shapes-only.svg
  lib/tests/parse-svg.test.ts
  lib/tests/preprocess.test.ts
  lib/tests/process.test.ts
  lib/tests/transform.test.ts
  lib/transform.ts
  lib/types.ts
Due: eslint, prettier

fix: Correct makeArcs type in SVGO preprocess config
  lib/preprocess.ts
Due: eslint, prettier

fix: Restore SVG preview for outputs without width/height
  src/components/SvgTool.vue
Due: eslint, prettier

fix: Scale SVG preview to fill container with max-height constraint
  src/components/SvgTool.vue
Due: eslint, prettier

ci: deploy to Cloudflare Pages instead of VPS
  .github/workflows/deploy.yml
Due: prettier

ci: deploy via direct npx wrangler to avoid peer-dep conflict
  .github/workflows/deploy.yml
Due: prettier

Path conditions:
  eslint: any of: \.(js|ts|astro|vue)$
  prettier: any of: \.(js|ts|json|yaml|yml|md|astro|vue|css)$
